:root {
  --bg-color: #000000;
  --website-name-color: #ffffff;
  --header-offer-color: #000000;
  --nav-font-color: #ffffff;
  --nav-btn-color: #333333;
  --nav-btnbg-color: #ffffff;
  --header-blackbtn-color: #ffffff;
  --header-btnbg-color: #ffffff;
  --header-whitebtn-color: #000000;
  --header-data-color: #333333;
  --header-datap-color: #828282;
  --header-mainbg-color: #ffffff;
  --header-mainp-color: #e0e0e0;
  --gtk-title-color: #f2f2f2;
  --gtk-paragraph-color: #bdbdbd;
  --gtk-number-color: #f2f2f2;
  --gtk-numberp-color: #bdbdbd;
  --pprn-bg-color: #ffffff;
  --pprn-title-color: #f2f2f2;
  --pprn-maininfo-color: #333333;
  --pprn-pinfo-color: #828282;
  --pprn-btn-font-color: #ffffff;
  --pprn-btn-color: #000000;
  --build-title-color: #f2f2f2;
  --build-img-color: red;
  --build-imgp-color: red;
  --opinion-title-color: #f2f2f2;
  --opinion-name-color: #f2f2f2;
  --opinion-paragraph-color: #e0e0e0;
  --newsletter-title-color: #000000;
  --newsletter-p-color: #000000;
  --newsletter-input-color: #e0e0e0;
  --newsletter-subscribe-color: #333333;
  --newsletter-btn-color: #ffffff;
  --newsletter-color: #ffffff;
  --newsletter-btnfont-color: #333333;
  --newsletter-bg-color: #000000;
  --footer-title-color: #f2f2f2;
  --footer-p-color: #bdbdbd;
  --main-font-color: #f2f2f2;
  --main-paragraph-color: #bdbdbd;
  --font-family: "Mada", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  background-color: whitesmoke;
}

.container {
  width: 1440px;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.header-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.website-name {
  font-size: 24px;
  font-weight: normal;
  padding-left: 100px;
  padding-top: 48px;
}

.website-name a {
  color: var(--website-name-color);
  text-decoration: none;
}

.nav-section {
  padding-top: 54px;
  padding-right: 100px;
  margin-bottom: 53px;
}

.nav__list {
  display: flex;
  flex-direction: row;
  gap: 50px;
  list-style: none;
}

.nav__list-element a {
  width: 120px;
  height: 48px;
  font-size: 18px;
  font-weight: normal;
  color: var(--nav-font-color);
  padding: 10px;
  text-decoration: none;
  text-align: center;

  &:focus,
  &:hover {
    cursor: pointer;
    color: var(--nav-btn-color);
    background-color: var(--nav-btnbg-color);
    border-radius: 12px;
  }
}

.header-section__main {
  background-image: url(../img/header-background.jpg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
  width: 1240px;
  height: 549px;
  border-radius: 25px;
}

.header-section__title {
  font-size: 72px;
  font-weight: bold;
  padding: 30px 312px 0;
  color: var(--gtk-title-color);
}

.header-section__info {
  font-size: 18px;
  padding: 0 435px 95px 370px;
  text-align: center;
  color: var(--header-mainp-color);
}

.header-buttons {
  width: 328px;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 25px;
  background-color: var(--header-btnbg-color);
  padding-bottom: 80px;
}

.header-buttons__button {
  width: 90px;
  height: 38px;
  font-size: 18px;
  color: var(--header-whitebtn-color);
  background-color: var(--header-btnbg-color);
  border: none;
  margin: 10px;
  padding: 8px 30px;

  &:hover,
  :focus {
    color: var(--header-blackbtn-color);
    background-color: var(--header-whitebtn-color);
    border-radius: 15px;
    cursor: pointer;
  }
}

.selection {
  width: 963px;
  height: 155px;
  display: flex;
  justify-content: center;
  margin-top: -80px;
  margin-left: 238px;
  padding-left: 48px;
  background-color: var(--header-mainbg-color);
  border-radius: 25px;
}

.selection__list {
  display: flex;
  flex-direction: row;
  gap: 100px;
  padding-top: 48px;
  padding-right: 100px;
  list-style: none;
}

.border {
  position: relative;
  top: -45px;
  left: 50px;
  height: 40px;
  border-right: 2px solid #bdbdbd;
}

.selection__element1 {
  font-size: 24px;
  color: var(--header-data-color);
}

.selection__element2 {
  font-size: 18px;
  color: var(--header-datap-color);
}

.selection__button {
  width: 137px;
  height: 59px;
  font-size: 18px;
  margin: 48px 48px 48px 0;
  color: var(--header-blackbtn-color);
  background-color: var(--header-offer-color);
  border-radius: 6px;

  &:hover,
  &:focus {
    cursor: pointer;
    color: black;
    background-color: white;
  }
}

.gtk-section {
  display: flex;
  flex-direction: row;
  gap: 90px;
  margin: 0 185px 180px 100px;
}

.gtk-section__photo {
  width: 447px;
  height: 565px;
  margin-top: 180px;
  border-radius: 35px;
}

.gtk-section__info {
  margin-top: 255px;
}

.gtk-section__title {
  color: var(--gtk-title-color);
  font-size: 48px;
  font-weight: bold;
}

.gtk-section__paragraph {
  color: var(--gtk-paragraph-color);
  font-size: 18px;
  font-weight: normal;
  padding-top: 24px;
  padding-right: 55px;
  line-height: 165%;
}

.gtk__list {
  display: flex;
  flex-direction: row;
  gap: 80px;
  padding-top: 48px;
}

.gtk__element1 {
  color: var(--gtk-number-color);
  font-size: 36px;
  font-weight: bold;
}

.gtk__element2 {
  color: var(--gtk-numberp-color);
  font-size: 24px;
  font-weight: normal;
  padding-top: 16px;
}

.pprn-section {
  padding-left: 100px;
}

.pprn-properties {
  display: flex;
  flex-direction: row;
}

.pprn-property1 {
  background-image: url(../img/property1.jpg);
  background-repeat: no-repeat;
  border-radius: 35px;
  width: 622px;
  height: 796px;
  display: flex;
  align-items: self-end;
  padding-bottom: 40px;
  padding-left: 40px;
  margin-right: 44px;
}

.pprn-property1__info {
  width: 542px;
  height: 120px;
  display: flex;
  flex-direction: row;
  gap: 147px;
  background-color: var(--pprn-bg-color);
  border-radius: 25px;
}

.pprn-info1__only {
  padding: 24px 0 24px 24px;
}

.pprn__button {
  width: 131px;
  height: 48px;
  color: var(--pprn-btn-font-color);
  background-color: var(--pprn-btn-color);
  border-radius: 12px;
  font-size: 28px;
  font-weight: bold;
  margin: 36px 24px 36px 0;
}

.pprn-property2 {
  display: flex;
  justify-content: center;
  align-items: self-end;
  background-image: url(../img/property2.jpg);
  background-repeat: no-repeat;
  width: 574px;
  height: 376px;
  padding-bottom: 24px;
  border-radius: 35px;
}

.pprn-property3 {
  display: flex;
  justify-content: center;
  align-items: self-end;
  background-image: url(../img/property3.jpg);
  background-repeat: no-repeat;
  width: 574px;
  height: 376px;
  border-radius: 35px;
  padding-bottom: 24px;
  margin-top: 44px;
}

.pprn-property23__info {
  width: 335px;
  height: 80px;
  display: flex;
  flex-direction: row;
  background-color: var(--pprn-bg-color);
  border-radius: 25px;
}

.pprn__button23 {
  width: 87px;
  height: 34px;
  color: var(--pprn-btn-font-color);
  background-color: var(--pprn-btn-color);
  border-radius: 12px;
  font-size: 18px;
  font-weight: bold;
  margin: 24px 18px 22px 0;
}

.pprn-info23__only {
  padding: 12px 39px 12px 18px;
}

.pprn__mainp {
  color: var(--pprn-maininfo-color);
  font-size: 28px;
  font-weight: normal;
}

.pprn__mainp23 {
  color: var(--pprn-maininfo-color);
  font-size: 24px;
  font-weight: normal;
}

.pprn__p {
  color: var(--pprn-pinfo-color);
  font-size: 20px;
  font-weight: normal;
}

.pprn__p23 {
  color: var(--pprn-pinfo-color);
  font-size: 16px;
  font-weight: normal;
}

.pprn__fortitle-andfav {
  display: flex;
  justify-content: space-between;
}

.pprn__title {
  width: 401px;
  color: var(--pprn-title-color);
  font-size: 48px;
  font-weight: bold;
  padding-bottom: 40px;
}

.pprn__fav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 18px;
  margin-right: 100px;
  margin-top: 60px;
}

.pprn__fav-grt,
.pprn__fav-less {
  width: 72px;
  height: 72px;
  background-color: white;
  border: 1px solid white;
  border-radius: 12px;

  &:hover,
  &:focus {
    cursor: pointer;
    color: white;
    background-color: #474646;
  }
}

.build-section {
  margin-top: 100px;
  margin-left: 100px;
}

.build__title {
  width: 469px;
  color: var(--build-title-color);
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 80px;
}

.build__list {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.build__list-element {
  width: 362px;
  height: 542px;
}

.build__p-extrasection {
  background-image: url(../img/build-photo1.jpg);
  background-repeat: no-repeat;
  width: 360px;
  height: 542px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 18px;
  padding-bottom: 18px;
}

.build__ptitle {
  color: var(--build-img-color);
  font-size: 28px;
  font-weight: normal;
}

.build__pplace {
  color: var(--build-imgp-color);
  font-size: 18px;
  font-weight: normal;
}

.client-opinion {
  margin-top: 180px;
  margin-left: 100px;
  margin-right: 100px;
}

.client__sections {
  display: flex;
  flex-direction: row;
  gap: 155px;
}

.client__title {
  text-align: center;
  color: var(--opinion-title-color);
  font-size: 48px;
  font-weight: bold;
}

.client__1photo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 48px;
  border-radius: 50%;
}

.client__name {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  margin-top: 18px;
  color: var(--opinion-name-color);
}

.client__origin {
  text-align: center;
  font-size: 18px;
  font-weight: lighter;
  margin-top: 4px;
  color: var(--opinion-paragraph-color);
}

.client__p {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 617px;
  height: 120px;
  font-size: 18px;
  font-weight: normal;
  margin: 0 auto;
  margin-top: 43px;
  color: var(--opinion-paragraph-color);
}

.client__right-list {
  display: flex;
  flex-direction: column;
  gap: 75px;
  margin-left: 20px;
}

.client__left-list {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.client__left-list-e img {
  border-radius: 50%;
}

.client__right-list-e img {
  border-radius: 50%;
}

.newsletter {
  text-align: center;
  width: 1240px;
  height: 320px;
  padding-top: 44px;
  margin: 0 auto;
  margin-top: 180px;
  background-color: var(--newsletter-color);
  border-radius: 25px;
}

.newsletter__title {
  font-size: 48px;
  font-weight: normal;
  color: var(--newsletter-title-color);
}

.newsletter__paragraph {
  font-size: 18px;
  font-weight: normal;
  padding: 12px 387px 26px 386px;
  color: var(--newsletter-p-color);
}

.newsletter__input {
  width: 623px;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 226px;
  margin: 26px auto 0;
  background-color: var(--newsletter-bg-color);
  border-radius: 18px;
}

.newsletter__email {
  font-size: 18px;
  font-weight: normal;
  color: var(--newsletter-input-color);
}

.newsletter__button {
  width: 146px;
  height: 48px;
  font-size: 18px;
  font-weight: lighter;
  border-radius: 12px;
  color: var(--newsletter-btnfont-color);
}
